### Dirs: ###
### VisualStudioCode ###
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets
.vscode/settings.json
EmanueleTinari/.vscode/*
EmanueleTinari/.vscode/settings.json
EmanueleTinari/*.code-workspace

### Python sub ###
EmanueleTinari/Python/.webui_secret_key
EmanueleTinari/Python/PythonAI.code-workspace
EmanueleTinari/Python/Test_API_Open_WebUI.py
EmanueleTinari/Python/__pycache__/*
EmanueleTinari/Python/__pycache__/*.*
EmanueleTinari/Python/env/*
EmanueleTinari/Python/env/*.*
EmanueleTinari/Python/env311/*
EmanueleTinari/Python/env311/*.*

### Chiesa sub ###
EmanueleTinari/Chiesa/*
EmanueleTinari/Chiesa/*.*

### Obsidian sub ###
EmanueleTinari/Obsidian/*.7z
EmanueleTinari/Obsidian/*.pdf
EmanueleTinari/Obsidian/habit-tracker-example/*
EmanueleTinari/Obsidian/habit-tracker-example/*.*
EmanueleTinari/Obsidian/Ideaverse Lite 1.5/*
EmanueleTinari/Obsidian/Ideaverse Lite 1.5/*.*
EmanueleTinari/Obsidian/Import_GitHub/*
EmanueleTinari/Obsidian/Import_GitHub/*.*
EmanueleTinari/Obsidian/LYT-Kit/*
EmanueleTinari/Obsidian/LYT-Kit/*.*
EmanueleTinari/Obsidian/scriptures/*
EmanueleTinari/Obsidian/scriptures/*.*
EmanueleTinari/Obsidian/Vault_vuoto1/*
EmanueleTinari/Obsidian/Vault_vuoto1/*.*
EmanueleTinari/Obsidian/Zettelkasten/*
EmanueleTinari/Obsidian/Zettelkasten/*.*
.obsidian/workspaces.json
.obsidian/workspace
.obsidian/workspace.json
.obsidian/workspace-mobile.json
.obsidian/cache
.trash/
.DS_Store
.vault-stats

# Exclude Untitled Notes
Untitled*

# Exclude "bad" names
null*

# Exclude pdf files
.pdf

# Excel temporary files:
~$*.xls*

# Local History for Visual Studio Code
.history/

# Built Visual Studio Code Extensions
*.vsix

### VisualStudioCode Patch ###
# Ignore all local history of files
.history
.ionide